@model IEnumerable<Student>
@{
    ViewData["Title"] = "Not Trainees";
}
<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            Not Trainee Students
        </h1>
    </div>
</section>
@if (Model.Any())
{
    <div class="card has-table" style="margin-top:20px">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Not Trainee Students
            </p>
            <a asp-action="NotTraineeStudents" class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="image-cell">
                                <div class="image">
                                    <img src="@Url.Content(item.Image)" class="rounded-full">
                                </div>
                            </td>
                            <td data-label="Name">@item.StudentName</td>
                            <td data-label="Company">@item.StudentEmail</td>
                            <td data-label="City">@item.Address</td>
                            <td class="actions-cell">
                                <div class="buttons right nowrap">
                                    <a asp-action="StudentProfile" asp-controller="Students" asp-route-id="@item.StudentId" asp-route-isTrainee="@item.isTrainee" class="button small green --jb-modal" data-target="sample-modal-2" type="button">
                                        <span class="icon"><i class="mdi mdi-account-circle"></i></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card empty">
        <div class="card-content">
            <div>
                <span class="icon large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span>
            </div>
            <p>Nothing here</p>
        </div>
    </div>
}

